# dependencies
node_modules/
package-lock.json

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# misc
.DS_Store
.vscode/
.idea/
thumbs.db 

# exclude PDF files in guides directory
guides/*.pdf 