# Discord Bot Configuration
DISCORD_TOKEN=your_discord_token_here

# Notion Integration
NOTION_TOKEN=your_notion_token_here
NOTION_DATABASE_ID=your_notion_database_id_here
NOTION_CHANGELOG_DB_ID=your_notion_changelog_db_id_here

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Frame.io Integration
#FRAMEIO_TOKEN=your_frameio_api_token_here
#FRAMEIO_ACCOUNT_ID=your_frameio_account_id_here


# Timezone Setting
TIMEZONE=Europe/Berlin

# Channel IDs
SCHEDULE_CHANNEL_ID=your_schedule_channel_id_here
MESSAGE_BACKUP_CHANNEL_ID=your_message_backup_channel_id_here
TODO_CHANNEL_ID=your_todo_channel_id_here
TEAM_ROLE_ID=your_team_role_id_here

# Guild (Server) ID
GUILD_ID=your_guild_id_here 